
/*-----THEMES-----*/

.theme1{
    /*backgrounds*/
    --main-bg: hsl(222, 26%, 31%);
    --keypad-bg: hsl(223, 31%, 20%);
    --screen-bg: hsl(224, 36%, 15%);

    /*key default*/
    --key-default-bg: hsl(30, 25%, 89%);
    --key-default-shadow: hsl(28, 16%, 65%);

    /*key standout*/
    --key-standout-bg: hsl(6, 63%, 50%);
    --key-standout-shadow: hsl(6, 70%, 34%);

    /*key variant*/
    --key-variant-bg: hsl(225, 21%, 49%);
    --key-variant-shadow: hsl(224, 28%, 35%);

    /*toggle*/
    --toggle: var(--key-standout-bg);
    --toggle-bg: var(--keypad-bg);

    /*text*/
    --text-main: hsl(0, 0%, 100%);
    --text-key-default: hsl(221, 14%, 31%);
    --text-key-standout: var(--text-main);
    --text-key-variant: var(--text-main);
}

.theme2{
    /*backgrounds*/
    --main-bg: hsl(0, 0%, 90%);
    --keypad-bg: hsl(0, 5%, 81%);
    --screen-bg: hsl(0, 0%, 93%);

    /*key default*/
    --key-default-bg: hsl(45, 7%, 89%);
    --key-default-shadow: hsl(35, 11%, 61%);

    /*key standout*/
    --key-standout-bg: hsl(25, 98%, 40%);
    --key-standout-shadow: hsl(25, 99%, 27%);

    /*key variant*/
    --key-variant-bg: hsl(185, 42%, 37%);
    --key-variant-shadow: hsl(185, 58%, 25%);

    /*toggle*/
    --toggle: var(--key-standout-bg);
    --toggle-bg: var(--keypad-bg);

    /*text*/
    --text-main: hsl(60, 10%, 19%);
    --text-key-default: var(--text-main);
    --text-key-standout: hsl(0, 0%, 100%);
    --text-key-variant: var(--text-key-standout);
}

.theme3{
    /*backgrounds*/
    --main-bg: hsl(268, 75%, 9%);
    --keypad-bg: hsl(268, 71%, 12%);
    --screen-bg: var(--keypad-bg);

    /*key default*/
    --key-default-bg: hsl(268, 47%, 21%);
    --key-default-shadow: hsl(290, 70%, 36%);

    /*key standout*/
    --key-standout-bg: hsl(176, 100%, 44%);
    --key-standout-shadow: hsl(177, 92%, 70%);

    /*key variant*/
    --key-variant-bg:  hsl(281, 89%, 26%);
    --key-variant-shadow: hsl(285, 91%, 52%);

    /*toggle*/
    --toggle: var(--key-standout-bg);
    --toggle-bg: var(--keypad-bg);

    /*text*/
    --text-main: hsl(52, 100%, 62%);
    --text-key-default: var(--text-main);
    --text-key-standout: hsl(198, 20%, 13%);
    --text-key-variant: hsl(0, 0%, 100%);
}

.calculator, body{
    color: var(--text-main);
    background-color: var(--main-bg);
}

.screen{
    background-color: var(--screen-bg);
}

.keypad{
    background-color: var(--keypad-bg);
}

.key.default{
    color: var(--text-key-default);
    background-color: var(--key-default-bg);
    box-shadow: 0 6px var(--key-default-shadow);
    
}

.key.standout{
    color: var(--text-key-standout);
    background-color: var(--key-standout-bg);
    box-shadow: 0 6px var(--key-standout-shadow);
    
}

.key.variant{
    color: var(--text-key-variant);
    background-color: var(--key-variant-bg);
    box-shadow: 0 6px var(--key-variant-shadow);
    
}



/*-----EVERYTHING ELSE-----*/


html {
    box-sizing: border-box;
    font-size: 32px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    font-family: 'League Spartan', sans-serif;
    margin: 0;
    padding: 0;
}

.calculator{
    width: 340px;
    margin: 0 auto;
}

.calc-header{
    display:flex;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem 0;
}

.calc-header h1 {
    padding: 0;
    margin: 0;
    margin-right: auto;
    font-size: 0.9rem;
}
.calc-header h2 {
    padding: 0;
    margin: 0;
    font-size: 0.5rem;
    align-self: flex-end;
}

.theme-selector{
    width: 65px;
    font-size: 0.5rem;
}

.theme-selector > div{
    display:flex;
    justify-content: space-around;
}

.theme-selector input{
    padding: 0;
    margin: 0;
}

.toggle{
    cursor: pointer;
    border: none;
    border-radius: 100px;
    width: 80px;
    height: 28px;
}

.screen{
    border-radius: 15px;
    padding: 0 0.7rem;
    display: flex;
    height: 85px;
    justify-content: end;
    align-items: center;
    margin-bottom: 1rem;
}

.keypad{
    border-radius: 15px;
    padding: 0.7rem 0.7rem 0.9rem 0.7rem;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    aspect-ratio: 4/5;
}

.key {
    padding:0;
    font-family: inherit;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 0.8rem;
    padding-top: 7px;

    /* Cool animation that doesn't entirely work
    transition: transform 0.05s, box-shadow 0.05s; */
}

.key.wide{
    grid-column: span 2;
}

.key:active{
    box-shadow: none;
    transform: translateY(6px);
    filter: brightness(150%);
}

/*issues when zooming in*/
.attribution { font-size: 11px; text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom:0;}
.attribution a { color: var(--text-main); }
