:root{
    --dark-red: hsl(6, 70%, 34%);
}

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.calculator{
    width: 340px;
    border: 1px solid black;
    margin: 0 auto;
}

.calc-header{
    display:flex;
    gap: 1rem
}

h1, h2{
    padding: 0;
    margin: 0;
}

.theme-selector div{
    display:flex;
    justify-content: space-around;
}

.calc-header h1{
    margin-right: auto;
}

.result-window{
    display: flex;
    background-color: pink;
    height: 100px;
    justify-content: end;
    align-items: center;
}

.keypad-container{
    
    padding: 1rem;
    background-color: blue;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    /*grid-template-rows: repeat(5, 64px);*/

    gap: 1rem;
    aspect-ratio: 4/5;
}


.key {
    border: none;
    border-radius: 10px;

}

.key:nth-last-child(-n+2){
    grid-column: span 2;

}